html {
	margin-left: 0;
	margin-right: calc(100% - 100vw);
/*	^
Prevent page elements from jumping due to page width changing when vertical scrollbar appears.

Source:
https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/
https://aykevl.nl/2014/09/fix-jumping-scrollbar
*/
	color: black;
	background-color: #ddd;
	font-family: sans-serif;
}
body {
	margin: 1em auto;
	text-align: center;
}
small {
	font-size: smaller;
}
big,
.larger-text-button b,
.larger-text button,
.larger-text option,
.larger-text select,
.larger-text input,
.larger-text {
	font-size: large;
}
.larger-text .larger-text-button small {
	font-size: small;
}
.larger-text pre,
.larger-text code {
	font-weight: bold;
}
.menu-bar {
	z-index: 1;
	position: relative;
}
.top-buttons {
	z-index: 2;
	position: fixed;
	display: flex;
	top: 0;
	right: 0;
}
.top-buttons button {
	border: 0.0625em solid gray;
	width: 3em;
	height: 3em;
	margin: 1em 1em 0 0;
	white-space: nowrap;
}
.top-buttons button:hover {
	background-color: white;
}
.fixed-tab-width .fixed-tab-width-button,
.larger-text .larger-text-button {
	background-color: #ace;
}
.fixed-tab-width .fixed-tab-width-button:hover,
.larger-text .larger-text-button:hover {
	background-color: #bdf;
}
a {
	color: gray;
}
a:hover {
	color: black;
}
[onclick],
button,
select,
label,
input[type="file"] {
	cursor: pointer;
}
[onclick]:disabled,
button:disabled,
select:disabled,
label:disabled,
input[type="file"]:disabled {
	cursor: not-allowed;
}
.size-full[onclick] {
	cursor: zoom-out;
}
.size-fit[onclick] {
	cursor: zoom-in;
}
.size-fit {
	max-width: 100%;
	height: auto;	/* <- keep image from growing too wide and keep proportions */
}
.menu-bar > button {
	margin: 0 0.5em;
	padding: 0.25em 0.5em;
	vertical-align: top;
}
p > button + button {
	margin-left: 1em;
}
hr {
	border: none;
	border-top: 0.0625em solid gray;
}
canvas {
	position: relative;
}
#loaded-files-view img,
canvas {
	border: 0.0625em solid #ddd;
	box-shadow: 0.1875em 0.1875em rgba(0,0,0, 0.1);
}
#loaded-files-view img[onclick]:hover,
canvas:hover {
	border-color: gray;
}
label:hover {
	background-color: #eee;
}
.menu-head {
	display: inline-block;
	position: relative;
}
.menu-head > .button {
	display: flex;
	align-items: center;
	padding: 0.5em 1em;
	background-color: #f5f5f5;
}
.menu-head > .button::before {
	content: "\25BE\A0";
}
.menu-drop {
	display: none;
	position: relative;
}
.menu-head > .show + .menu-drop,
.menu-head:hover .menu-drop,
.menu-drop:hover {
	display: block;
	z-index: 99;
}
.menu-head:hover .menu-drop,
.menu-drop:hover {
	z-index: 999;
}
.menu-hid {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
}
.menu-list {
	display: block;
	padding: 0 1em;
	border: 0.0625em solid gray;
	background-color: #f5f5f5;
	text-align: left;
	white-space: nowrap;
}
.r .menu-list {
	text-align: right;
}
.r .menu-head > :first-child::before,
.r .menu-hid {
	left: inherit;
	right: 0;
}
.example-files {
	border-collapse: collapse;
}
.example-files td {
	padding: 0.125em 0.25em;
}
.example-files td:first-child {
	text-align: right;
	padding-left: 0;
}
.example-files td:last-child {
	padding-right: 0;
}
.example-file-type,
.example-file-type header {
	margin: 1em 0;
}
.example-file:hover:not(.loading) td {
	background-color: white;
}
.example-file.loading td {
	position: relative;
	border-color: #bdf;
	background-color: #bdf;
}
.example-file.loading td:last-child::after {
	position: absolute;
	top: 0;
	left: 100%;
	width: 1em;
	text-align: center;
	content: "⌛";
}
.example-files tbody:not(:first-child),
.example-files tfoot:not(:first-child),
.example-files:not(:first-child) tbody,
.example-files:not(:first-child) tfoot {
	border-top: 0.0625em solid gray;
}
.example-files tbody:not(:last-child),
.example-files tfoot:not(:last-child),
.example-files:not(:last-child) tbody,
.example-files:not(:last-child) tfoot {
	border-bottom: 0.0625em solid gray;
}
.example-files tbody tr:first-child td,
.example-files tfoot tr:first-child td {
	padding-top: 1em;
}
.example-files tbody tr:last-child td,
.example-files tfoot tr:last-child td {
	padding-bottom: 1em;
}
.example-files button {
	width: 100%;
}
.button,
.button .button-close:not(:hover) {
	background-color: rgba(0,0,0, 0.1);
}
.button.without-options:not(:hover) {
	background-color: rgba(0,0,0, 0.2);
}
.button.show:not(:hover) {
	background-color: #ace;
}
.button.show:hover {
	background-color: #bdf;
}
.button:hover {
	background-color: white;
}
.button.loading {
	background-color: #eda;
}
.button.failed {
	background-color: #f88;
}
.button .button-select {
	border: none;
	background: transparent;
}
.button .button-close,
.button .button-thumbnail {
	display: flex;
	min-width: 2.5em;
	min-height: 2.5em;
}
.button .button-close {
	border: none;
}
.button .button-close::after {
	content: "⨉";
}
.button .button-close::after,
.button .thumbnail-hover {
	margin: auto;	/* <- centered content */
	line-height: 0;	/* <- prevent text baseline from messing with alignment */
}
.button .button-close:hover {
	color: white;
	background-color: #f88;
}
.thumbnail {
	align-self: center;
	background-color: transparent;
	border: 0.0625em solid transparent;
}
.thumbnail-hover:hover .thumbnail,
.thumbnail.larger {
	background-color: rgba(0,0,0, 0.4);
	border-color: white;
}
.thumbnail-hover {
	position: relative;
	display: flex;
	cursor: zoom-in;
}
.thumbnail-hover .larger {
	position: absolute;
	top: 100%;
	left: 100%;
	z-index: 9;
}
.thumbnail-hover:not(:hover) .larger {
	display: none;
}
.thumbnail:not(img) {
	background-position: center;
	background-repeat: no-repeat;
}
.menu-list > header {
	margin: 1em 0;
}
#top-menu-help table,
#top-menu-help table tr,
#top-menu-help table td {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
#top-menu-help header > button {
	float: right;
}
#top-menu-help header > table td:first-child {
	width: 100%;
}
#top-menu-help header > table td:not(:first-child) button {
	margin-left: 0.25em;
}
#top-menu-help section {
	margin: 0.5em -1em;
	border-width: 0 1em;
	border-style: solid;
	border-color: transparent;
}
#top-menu-help section:hover {
	border-color: #bdf;
}
#top-menu-help section header {
	padding: 0.5em;
	/* text-align: center; */
	background-color: rgba(0,0,0, 0.1);
}
#top-menu-help section header:hover {
	background-color: white;
}
#top-menu-help section header.show {
	background-color: #ace;
}
#top-menu-help section header.show:hover {
	background-color: #bdf;
}
#top-menu-help section > div {
	padding: 1em 0.5em;
	margin-bottom: 1em;
	transition: background-color 0.7s ease-in;
	background-color: transparent;
}
#top-menu-help section > div.open-up {
	transition: none;
	background-color: #bdf;
}
#top-menu-help section > div > table th {
	padding: 0.5em;
}
#top-menu-help section > div > table th:first-child {
	padding-left: 0;
}
#top-menu-help section > div > table td {
	padding-left: 0.5em;
	vertical-align: top;
}
#top-menu-help section > div > table td:first-child {
	width: 0;
	padding-left: 0;
}
#top-menu-help section > div > table tr:hover td {
	background-color: white;
}
#top-menu-help section > div > table tr:hover td code {
	opacity: 0.6;
}
#top-menu-help .left-arrow::before,
#top-menu-help .right-arrow::after {
	display: inline-block;
	vertical-align: bottom;
	border: 1em solid transparent;
	width: 0;
	height: 0;
	content: "";
}
#top-menu-help .left-arrow::before {
	border-left-color: rgba(0,0,0, 0.1);
	margin-right: 0.5em;
}
#top-menu-help .right-arrow::after {
	border-right-color: rgba(0,0,0, 0.1);
	margin-left: 0.5em;
}
#top-menu-help .show .left-arrow::before,
#top-menu-help .show .right-arrow::after {
	border-color: transparent;
	border-top-color: rgba(0,0,0, 0.1);
	border-bottom-width: 0.5em;
	margin-top: 0.5em;
}
#top-menu-help code,
#top-menu-help code > *,
#top-menu-help pre > * {
	display: inline-flex;	/* <- (TODO) does not fill parent table-cell height, but a little better than inline-block */
}
#top-menu-help code[class],
#top-menu-help code > *,
#top-menu-help pre > * {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#top-menu-help pre:first-child {
	margin-top: 0.5em;
}
#top-menu-help pre {
	margin-top: 2.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
}
#top-menu-help pre br {
	margin-bottom: 0.5em;
}
#top-menu-help code,
#top-menu-help pre,
#top-menu-help .ignore {	background-color: #e2e2e2;}
#top-menu-help .comment {	background-color: #f3d7d7;}
#top-menu-help .name {		background-color: #d7d7f3;}
#top-menu-help .param {		background-color: #d7f3d7;}
#top-menu-help .path {		background-color: #f3f300;}
#top-menu-help .ignore {
	min-width: 2em;
	text-align: center;
	display: inline-block;
}
.fixed-tab-width #loaded-files-selection .button-text {
	width: 8em;			/* <- "em" is bad with different font-sizes on different lines, so set only here */
}
.fixed-tab-width #loaded-files-selection .button-text,
.fixed-tab-width #loaded-files-selection .button-text * {
	overflow: hidden;
	text-overflow: ellipsis;	/* <- requires max-width */
	white-space: nowrap;
}
#loaded-files-selection .button-text {
	text-align: left;
	margin: 0.25em 0.5em;
}
#loaded-files-selection .button-name {
	font-size: 80%;
	font-weight: bold;
}
#loaded-files-selection .button-status {
	font-size: 70%;
	opacity: 0.35;
}
#loaded-files-selection .button-select,
#loaded-files-selection .button-close,
#loaded-files-selection .button {
	display: inline-flex;	/* <- content will vertically fill the height of this container */
}
#loaded-files-selection .button {
	margin: 0.5em;
}
.top-buttons button::-moz-focus-inner,
#loaded-files-selection .button::-moz-focus-inner,
#loaded-files-selection .button > *::-moz-focus-inner {
	border: none;	/* <- https://stackoverflow.com/a/199319 */
}
.top-buttons button,
#loaded-files-selection .button,
#loaded-files-selection .button > * {
	outline: none;	/* <- https://stackoverflow.com/a/47002717 */
}
#loaded-files-selection,
#loaded-files-view {
	margin: 1em;
	padding: 1em;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
}
#loaded-files-selection {
	padding: 0.5em 1em;
	display: flex;
	flex-wrap: wrap;
}
#loaded-files-selection:empty,
#loaded-files-view:empty,
#loaded-files-view > :not(.show),
.loaded-file:empty {
	display: none;
}
.loaded-file table,
.loaded-file tr,
.loaded-file th {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.loaded-file div[data-option-id] > img,
.loaded-file td > img,
.loaded-file td > section {
	padding: 0.5em;
	margin: 0.5em;
}
.loaded-file td section,
.project-options th * {
	background-color: rgba(0,0,0, 0.1);
}
.loaded-file td section,
.project-options td,
.project-options th {
	white-space: nowrap;
}
.loaded-file td,
.project-header div,
.project-header section {
	text-align: left;
	vertical-align: top;
}
.project-header {
	display: flex;	/* <- content will vertically fill the height of this container */
	flex-wrap: wrap;
}
.project-header section {
	display: inline-block;
	background-color: rgba(0,0,0, 0.1);
}
.project-header .count-line,
.project-header section,
.project-header header,
.project-header footer {
	text-align: center;
}
.project-header.filename,
.project-header section,
.project-header header,
.project-header footer,
.project-header div {
	margin: 0.5em;
}
.project-header.filename {
	margin-top: 0;
}
.project-header footer > div {
	display: inline-block;
	margin: 0;
}
.project-header footer > div:not(:first-child) {
	margin-left: 0.5em;
}
.project-header button:not(:first-child) {
	margin-top: 0.5em;
}
.project-header button,
.project-options select {
	display: block;
	width: 100%;
	min-width: 8em;
}
.project-options select {
	max-width: 10em;
	border-width: 0.0625em;
}
.project-options select,
.project-options option {
	color: black;
	background-color: white;
}
.project-options select[value][value=""],
.project-options option:empty {
	background-color: #ddd;
}
.project-options label {
	display: block;
	min-width: 2.5em;
	height: 1.25em;
}
.project-options label :not(input) {
	display: block;
	height: 100%;
	text-align: center;
}
.project-options label :not(input):not(:empty) {
	min-width: 4em;
	padding: 0 0.5em;
}
.project-options .batch-all::before {		content: "\2E2C";}
.project-options .batch-all {			background-color: #eda;}
.project-options .batch-all:hover {		background-color: #feb;}

.project-options .batch-single::before {	content: "\2E30";}
.project-options .batch-single {		background-color: #ace;}
.project-options .batch-single:hover {		background-color: #bdf;}

.project-options .layout-inline::before {	content: "\22EF";}
.project-options .layout-inline {		background-color: #ace;}
.project-options .layout-inline:hover {		background-color: #bdf;}

.project-options .layout-newline::before {	content: "\22EE";}
.project-options .layout-newline {		background-color: #cea;}
.project-options .layout-newline:hover {	background-color: #dfc;}

.project-options label input:disabled ~ :not(input):hover,
.project-options label input:disabled ~ :not(input) {
	background-color: gray;
	cursor: not-allowed;
}
.project-options label input:checked ~ .unchecked,
.project-options label input:not(:checked) ~ .checked,
.project-options label input[type="checkbox"] {
	display: none;
}
.project-options tr:empty {
	height: 1em;
}
.project-options th {
	padding: 0.5em 0;
	min-width: 20em;
	/* text-align: center; */
}
.project-options header {
	padding: 0.5em 1em;
}
.project-options td {
	padding: 0.125em;
	vertical-align: middle;
}
.project-options td:last-child {
	padding-right: 0;
}
.project-options td:first-child {
	text-align: right;
	padding-left: 1em;
	padding-right: 0.5em;
	min-width: 9em;
	max-width: 9em;
	overflow: hidden;
	text-overflow: ellipsis;	/* <- requires max-width */
}
.project-options > table {
	max-width: 20em;
}
.preview,
.project-options,
.project-render {
	padding: 0.5em;
}
.project-render {
	padding-right: 2em;
}
.filename {
	font-weight: bold;
}
p.warning {
	text-align: center;
}
.warning::before {
	content: "⚠";
}
.count-label::before {
	content: "(";
}
.count-label::after {
	content: ")";
}
.count-label:empty::after {
	content: "?)";
}
.folder::before {
	content: "📂";
}
.nested-layer::before {
	content: "\21B3";
}
.section-link::before {
	content: "\A7";
}
.section-link::before {
	padding-right: 0.25em;
}
.external-link::after {
	/* padding-left: 0.25em; */
	content: "⎘";
}
.external-link::after,
.section-link::before {
	display: inline-block;	/* <- to remove underline, https://stackoverflow.com/a/15688237 */
	/* text-decoration: none; */
}
header:not(:hover) .section-link:not(a)::before {
	visibility: hidden;
}
header.show [name="open_section"],
header:not(.show) [name="close_section"],
.hidden {
	display: none;
}
.fade-out {
	transition: opacity 0.7s ease-in;
	opacity: 0;
}
