html {
	background-color: #ddd;
}
a {
	color: #888;
}
a:hover {
	color: #000;
}
body {
	margin: 1em auto;
	text-align: center;
}
p > button + button {
	margin-left: 1em;
}
#loaded-files-view img,
canvas {
	border: 1px solid #ddd;
	box-shadow: 3px 3px rgba(0,0,0, 0.1);
}
canvas {
	position: relative;
}
canvas:hover {
	border-color: #aaa;
}
label:hover {
	background-color: #eee;
}
.menu-head {
	display: inline-block;
	position: relative;
	/* margin: 1em; */
}
.menu-head > :first-child {
	background-color: #f5f5f5;
	padding: 0.5em 1em;
	text-align: left;
}
.menu-head > :first-child::before {
	line-height: 50%;
	content: "\25BE\A0";
}
.menu-drop {
	display: none;
	position: relative;
}
.menu-head > .show + .menu-drop,
.menu-head:hover .menu-drop,
.menu-drop:hover {
	display: block;
	z-index: 99;
}
.menu-head:hover .menu-drop,
.menu-drop:hover {
	z-index: 999;
}
.menu-hid {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
}
.menu-list {
	display: block;
	padding: 0 1em;
	border: 1px solid #aaa;
	background-color: #f5f5f5;
	text-align: left;
	white-space: nowrap;
}
.r .menu-list {
	text-align: right;
}
.r .menu-head > :first-child::before,
.r .menu-hid {
	left: inherit;
	right: 0;
}
.example-files {
	border-collapse: collapse;
}
.example-files td {
	padding: 2px 4px;
}
.example-files td:first-child {
	text-align: right;
}
.example-file-type,
.example-file-type header {
	margin: 1em 0;
}
.example-file:hover:not(.loading):not(:last-child) td {
	background-color: #fff;
}
.example-file.loading td {
	position: relative;
	border-color: #bdf;
	background-color: #bdf;
}
.example-file.loading td:last-child::after {
	position: absolute;
	top: 0;
	left: 100%;
	width: 1em;
	text-align: center;
	content: "⌛";
}
.example-file button {
	width: 100%;
}
.close-button:not(:hover),
.button {
	background-color: rgba(0,0,0, 0.1);
}
.button.show {
	background-color: #ace;
}
.button:hover {
	background-color: #fff;
}
.button:hover.show {
	background-color: #bdf;
}
.button.loading {
	background-color: #eda;
}
.button button {
	padding: 0.5em 1em;
	border: none;
	background: transparent;
}
.close-button:hover {
	color: white;
	background-color: #f88;
}
.button .thumbnail:not(img) {
	margin-left: 0.5em;
}
.thumbnail:not(img) {
	display: inline-block;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
}
.thumbnail {
	min-width: 16px;
	min-height: 16px;
}
img.thumbnail {
	width: 16px;
	height: 16px;
}
#loaded-files-selection .button {
	display: inline-block;
	margin: 0.5em;
}
#loaded-files-selection,
#loaded-files-view {
	margin: 1em;
	padding: 1em;
	text-align: left;
	vertical-align: top;
	background-color: #f5f5f5;
}
#loaded-files-selection {
	padding: 0.5em 1em;
}
#loaded-files-selection:empty,
#loaded-files-view:empty,
#loaded-files-view > :not(.show),
.loaded-file:empty {
	display: none;
}
.loaded-file td div,
.loaded-file td > img,
.loaded-file td > section {
	padding: 0.5em;
	margin: 0.5em;
}
.project-options th *,
.loaded-file td div,
.loaded-file td section {
	background-color: rgba(0,0,0, 0.1);
}
.project-options th,
.project-options td,
.loaded-file td section {
	white-space: nowrap;
}
.loaded-file td,
.project-header div,
.project-header section {
	text-align: left;
	vertical-align: top;
}
.project-header section {
	display: inline-block;
	background-color: rgba(0,0,0, 0.1);
}
.project-header section,
.project-header header,
.project-header footer {
	text-align: center;
}
.project-header section,
.project-header header,
.project-header footer,
.project-header div {
	margin: 0.5em;
}
.project-header button {
	margin: 0.5em 0;
}
.project-header button span::before {
	content: " (";
}
.project-header button span::after {
	content: ")";
}
.project-header button span:empty::after {
	content: "?)";
}
.project-header button,
.project-options select {
	display: block;
	width: 100%;
	min-width: 100px;
}
.project-options select {
	max-width: 200px;
	border-width: 1px;
}
.project-options select,
.project-options option {
	background-color: #fff;
}
.project-options select[value][value=""],
.project-options option:empty {
	background-color: #ddd;
}
.project-options label {
	display: block;
	min-width: 50px;
}
.project-options label :not(input) {
	display: block;
	padding: 0 0.5em;
	text-align: center;
}
.project-options .all {
	background-color: #eda;
}
.project-options .all:hover {
	background-color: #feb;
}
.project-options .single {
	background-color: #ace;
}
.project-options .single:hover {
	background-color: #bdf;
}
.project-options label input:disabled ~ :not(input) {
	background-color: #aaa;
}
.project-options label input:checked ~ .all,
.project-options label input:not(:checked) ~ .single,
.project-options label input[type="checkbox"] {
	display: none;
}
.project-options tr:empty {
	height: 1em;
}
.project-options th {
	padding: 0.5em 0;
	/* text-align: center; */
}
.project-options header {
	padding: 0.5em 1em;
}
.project-options td:first-child {
	text-align: right;
	padding: 0 0.5em 0 1em;
}
.project-options {
	width: 0;	/* <- take the least possible width without line-wrap */
}
.preview {
	padding-right: 6px;
}
.preview img {
	max-width: 100%;
	height: auto;
}
.filename {
	font-weight: bold;
}
p.warning {
	text-align: center;
}
.warning::before {
	content: "⚠";
}
*[onclick],
button,
select,
label,
input[type="file"] {
	cursor: pointer;
}
